ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
USDA_API_KEY=
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
#FRONTEND_ORIGIN=https://caloriesync-app-cs409.vercel.app
#MONGO_URI=mongodb://localhost:27017/test
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_URI=
PORT=4000